h1, h3 {
  text-align: center;
}



body {
  background-color: rgb(64, 160, 192);

}

section {
  width: 80%;
  margin: auto;
  border: 3px solid yellow;
  height: 400px;
  padding-top: 50px;


}

img {
  width: 360px;
}


